*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: rgb(239, 247, 249);
    font-family: 'Kanit', sans-serif;
}

.barra-superior
{
    font-family: 'Orbitron', sans-serif;
}

.conteudo-principal
{
    padding: 10% 5% 0% 5%;
    text-align: center;
}

.destaque
{
    font-family: 'Orbitron', sans-serif;
}

.links
{
    // background-color: rgb(250, 250, 250);
}

/*
#direita
{
    background-color: darkgray;
}

#esquerda
{
    background-color: darkgray;
    border-spacing: 10%;
}
*/

.rodape
{
    box-shadow: 0px 5px 5px 1px dimgray;
    color: cyan;
    padding-top: 5px;
    height: 35px;
    background-color: rgb(0,0,0);
    font-family: 'Orbitron', sans-serif;
}

/*
font-family: 'Kanit', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Orbitron', sans-serif;
*/