*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: rgb(239, 247, 249);
    font-family: 'Ubuntu', sans-serif;
}

.barra-superior
{
    
}

.conteudo-principal
{
    padding: 10% 5% 0% 5%;
    text-align: center;
}

.links
{
    // background-color: rgb(250, 250, 250);
}

/*
#direita
{
    background-color: darkgray;
}

#esquerda
{
    background-color: darkgray;
    border-spacing: 10%;
}
*/

.rodape
{
    box-shadow: 0px 6px 5px 0px grey;
    bottom: 0;
    width: 100%;
    color: cyan;
    padding-top: 5px;
    height: 35px;
    background-color: black;
}