*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Ubuntu', sans-serif;
}

.rodape
{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: cyan;
    padding-top: 5px;
    height: 30px;
    background-color: black;
}